<div class='response__card'>
    <div class='response__card--header'>
    {{ user_picture }}
    </div>
    <div class='response__card--body'>
        <div class='response__card--content'>
            {{ comment.comment_body.value | raw }}
        </div>
    </div>
</div>
