<section class='comments__container'>
    <div class='comments__form'>
        {{comment_form}}
    </div>
    <h3>{{ label }}</h3>
    <div class='response__container'>
        {{ comments }}
    </div>
</section>
